.footer {
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 96px;
}

.footer-me {
    display: flex;
    flex-direction: column;
}

.footer-copyright {
    color: var(--alternative-text-color);
    font-size: var(--font-size-lg);
}

.footer-links-container {
    display: flex;
    flex-direction: column;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--font-size-lg);
    transition: all 0.3s ease;
    padding-left: 14px;
    text-decoration: none;
    position: relative;
}

.footer a:hover {
    color: var(--alternative-text-color);
}

.footer-link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    width: 6px;
    height: 6px;
    background-color: #3DCFB6;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer-link:hover::after {
    transform: translateY(-50%) scale(1);
}