.header-category {
    font-size: 20px;
    padding: 24px;
 position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 0; 
  margin-bottom: 0;
}

.header-category::after {
  content: '';
  position: absolute;
  bottom: 0.1em;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 6px;
  height: 6px;
  background-color: #3DCFB6;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.header-category:hover::after {
  transform: translateX(-50%) scale(1);
}

.logo:hover {
    color: var(--alternative-text-color);
    cursor: pointer;
}

.introduction__text:hover {
    color: var(--alternative-text-color);
    cursor: pointer;
}
.skills__icon:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.skills__icon.growth:hover {
    color: var(--alternative-text-color);
}

.skills__icon.growth:hover .skill-tooltip {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
}

.skills__icon.growth:hover img:first-of-type {
    transform: scale(1.1);
}

.introduction__button:hover,
.submit__button:hover {
    border-color: var(--alternative-text-color);
    color: var(--alternative-text-color);
}

.introduction__button:hover span, 
.submit__button:hover span {
    animation: scrollButton 3s linear infinite;
}

@keyframes scrollButton {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    47% {
        transform: translateX(-150%);
        opacity: 1;
    }
    48% {
        transform: translateX(-150%);
        opacity: 0;
    }
    49% {
        transform: translateX(150%);
        opacity: 0;
    }
    50% {
        transform: translateX(150%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.project:hover {
    background-color: #3DCFB610;
    cursor: pointer;
}

.dot:hover {
    opacity: 1;
    cursor: pointer;
}