.intro {
    display: flex;
    flex-direction: column;
    height: 900px;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
    gap: var(--spacing-lg);
}

.introduction-multi-bg {
    width: 100%;
    height: 900px;
    background: linear-gradient(38deg, var(--main-bg-color) 40%, var(--sub-bg-color) 100%);
    background-repeat: no-repeat;
}

.introduction-content {
    display: flex;
    gap: var(--spacing-lg);
    align-items: flex-end;
}

.introduction__button {
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: var(--font-size-lg);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: var(--spacing-lg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    width: 180px;
    text-decoration: none;
}

.introduction__button span {
    display: inline-block;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.introduction__text {
    transform: rotate(-90deg);
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #FFFFFF1F;
    padding: 20px 0;
    transform: rotate(-3deg);
    margin-top: 250px;
    white-space: nowrap;
}

.banner__track {
    display: flex;
    align-items: center;
    gap: 32px;
    width: max-content;
    animation: scrollBanner 15s linear infinite;
}

.banner__track span {
    display: flex;
    align-items: center;
    gap: 56px;
    font-size: 32px;
    color: var(--alternative-text-color);
    font-weight: 600;
    text-transform: uppercase;
}

.banner__track span::after {
    content: "•";
    font-size: 32px;
    color: var(--alternative-text-color);
}

@keyframes scrollBanner {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.introduction__text:hover {
    color: var(--alternative-text-color);
    cursor: pointer;
}