.other-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 452px;
}

.other-people__headline {
    font-size: var(--font-size-3xl);
}

.navigation__helper {
    display: flex;
    align-items: center;
}

.dots {
    display: flex;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0.5;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: var(--alternative-text-color);
    opacity: 1;
    transform: scale(1.2);
}

.dot:hover {
    opacity: 1;
    cursor: pointer;
}

.people__arrow-right {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.people__arrow-right:hover {
    content: url("../img/colleagues/arrow_right_green.svg");
    transform: scale(1.3);
}

.people__arrow-left {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.people__arrow-left:hover {
    content: url("../img/colleagues/arrow_left_green.svg");
    transform: scale(1.3);
}

.testimonial-card {
    position: relative; 
    background-color: #1E4E45; 
    border: 1px solid var(--alternative-text-color); 
    border-radius: 30px; 
    width: 100%;
    max-width: 740px;
    padding: 64px 48px 48px 48px;
    box-sizing: border-box;
}

.testimonial-card > img, 
.quote-icon {
    position: absolute;
    top: -30px;
    left: -20px; 
    width: 80px; 
    height: auto;
}

.testimonial-text {
    font-size: 24px;
    line-height: 1.5;
    color: var(--text-color);
    margin: 0 0 48px 0;
}

.testimonial-footer {
    display: flex;
    align-items: center;
    gap: 24px; 
    width: 100%;
}

.footer-line {
    flex: 1;
    height: 1px;
    background-color: var(--text-color);
    opacity: 0.5; /
}

.testimonial-author {
    font-size: 18px;
    color: var(--text-color);
    white-space: nowrap;
}