.project-info-card {
    display: flex;
    position: fixed;
    width: 1248px;
    height: 656px;
    top: 20%;
    left: 5%;
    right: 5%;
    border: 1px solid var(--alternative-text-color);
    border-radius: var(--radius-3xl);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    background: linear-gradient(38deg, var(--main-bg-color) 40%, var(--sub-bg-color) 100%);
    background-repeat: no-repeat;
}

.project-info-card-left-side {
    padding-top: 91px;
    padding-left: 80px;
    width: 480px;
    margin-right: 40px;
}

.project-card_header {
    padding-bottom: 24px;
}

.project-number {
    font-size: 128px;
    font-weight: 700;
    color: var(--alternative-text-color);
}

.project-info-name {
    font-size: 64px;
}

.project-card-content{
    padding-bottom: 32px;
}

.project-info__headline {
    font-size: 24px;
    color: var(--alternative-text-color);
}

.project-info {
    font-size: 18px;
}

.project-languages {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    font-size: 16px;
}

.language {
    display: flex;
    align-items: center;
    gap: 6px;
}

.language img {
    width: 20px;
    height: 20px;
}

.project-info-button-container {
    display: flex;
}

.project__button{
    height: 48px;
    border: 1px solid var(--text-color);
    
}

.project__button a {
    color: var(--text-color);
}

.project-info-close {
    position: absolute;
    top: 56px;
    left: 1120px;
    cursor: pointer;
    user-select: none;
}

.project-info__picture img {
    width: 520px;
    height: 370px;
    padding-top: 143px;
}

.next-project__button {
    position:absolute;
    top: 561px;
    left: 1022px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    color: var(--alternative-text-color);
    cursor: pointer;
}