body {
    margin: 0;
    padding: 0;
    font-family: Fira Code, monospace, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    max-width: 1440px;
    
}

.intro {
    display: flex;
    flex-direction: column;
    height: 900px;
}

.header {
    height: var(--spacing-5xl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--spacing-5xl);
    padding-right: var(--spacing-5xl);
}

.header-multi-bg {
    background: linear-gradient(177deg, var(--main-bg-color) 50%, var(--sub-bg-color) 100%);
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    gap: var(--spacing-lg);
    font-size: var(--font-size-h2);
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
    gap: var(--spacing-lg);
}

.introduction-multi-bg {
    width: 100%;
    height: 900px;
    background: linear-gradient(38deg, var(--main-bg-color) 40%, var(--sub-bg-color) 100%);
    background-repeat: no-repeat;
}

.introduction-content {
    display: flex;
    gap: var(--spacing-lg);
    align-items: flex-end;
}

.introduction__button {
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: var(--font-size-lg);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: var(--spacing-lg);

}

.introduction__text {
    transform: rotate(-90deg);
}

.about-me {
    display: flex;
    gap: var(--spacing-5xl);
    padding: var(--spacing-5xl);
}

.about-me-image {
    width: 568px;
    height: 568px;
    border-radius: 50%;
    overflow: hidden;
}

.about-me-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.about-me__little-headline {
    color: var(--alternative-text-color);
    font-size: var(--font-size-lg);
}

.about-me-description {
    border: 1px solid var(--alternative-text-color);
    border-radius: var(--radius-lg);
    padding: var(--spacing-3xl);
    width: 540px;
    height: 568px;
}

.about-me__headline {
    font-size: var(--font-size-6xl);
    color: var(--alternative-text-color);
}

.skill-set {
    display: flex;
    gap: var(--spacing-5xl);
    padding: var(--spacing-5xl);
    width: 100%;
    height: 900px;
    background: radial-gradient(circle at -60%, var(--sub-bg-color) 30%, var(--main-bg-color) 50%);
    background-repeat: no-repeat;
    
}

.skill-set__little-headline {
    color: var(--alternative-text-color);
    font-size: var(--font-size-lg);
}

.skill-set-description {
    border: 1px solid var(--alternative-text-color);
    border-radius: var(--radius-lg);
    padding: var(--spacing-3xl);
    background-color: #3DCFB610;
}

.skill-set__headline {
    font-size: var(--font-size-6xl);
    color: var(--alternative-text-color);
}

.skills {
    display: flex;
    flex-wrap: wrap;

}

.skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    font-size: var(--font-size-lg);
    font-weight: bold;
    padding: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5xl);
    padding: var(--spacing-5xl);
    width: 880px;
    padding-left: 96px;
}

.projects__little-headline {
    color: var(--alternative-text-color);
    font-size: var(--font-size-lg);
}

.projects__headline {
    font-size: var(--font-size-6xl);
    color: var(--alternative-text-color);
}

.project-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-3xl);
}

.project {
    border-bottom: 1px solid var(--alternative-text-color);
    border-top: 1px solid var(--alternative-text-color);
    padding: var(--spacing-xl);
    width: 880px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project:hover {
    background-color: #3DCFB610;
    cursor: pointer;
}

.project-name {
    font-size: var(--font-size-2xl);
    color: var(--text-color);
}

.project-skills {
    display: flex;
    gap: var(--spacing-sm);
}

.other-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 452px;

}

.other-people__headline {
    font-size: var(--font-size-3xl);
}

.navigation__helper {
    display: flex;
    align-items: center;
}

.dots {
    display: flex;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0.5;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: var(--alternative-text-color);
    opacity: 1;
    transform: scale(1.2);
}

.dot:hover {
    opacity: 1;
    cursor: pointer;
}

.contact {
    display: flex;
    height: 541px;
    padding-left: 96px;
}

.contact-me-info{
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    color: var(--alternative-text-color);
    padding-top: 16px;
    font-size: var(--font-size-2xl);
}

.contact-form input {
    color: var(--text-color);
    font-size: var(--font-size-lg);
    background-color: transparent;
    border-bottom: 1px solid var(--alternative-text-color);
    padding-bottom: 16px;
}

.contact-form textarea {
    color: var(--text-color);
    font-size: var(--font-size-lg);
    background-color: transparent;
    border-bottom: 1px solid var(--alternative-text-color);
    padding-bottom: 16px;
}

.contact-form button {
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: var(--font-size-lg);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 139px;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
}

.footer {
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-me {
    display: flex;
    flex-direction: column;
}

.footer-copyright {
    color: var(--alternative-text-color);
    font-size: var(--font-size-lg);
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--font-size-lg);
    transition: all 0.3s ease;
}