.about-me {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-5xl);
    padding: var(--spacing-5xl);
}

.about-me-image {
    width: 568px;
    height: 568px;
    position: relative;
}

.about-me-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px; 
    position: relative;
    z-index: 2;
}

.about-me-image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-image: linear-gradient(
        45deg, 
        var(--alternative-text-color) 12.5%, 
        transparent 12.5%, 
        transparent 50%, 
        var(--alternative-text-color) 50%, 
        var(--alternative-text-color) 62.5%, 
        transparent 62.5%, 
        transparent 100%
    );
    background-size: 30px 30px;
    z-index: 1;
    opacity: 0;
    transform: translate(-25px, 25px);
    transition: opacity 0.3s ease-in-out;
}

.about-me-image:hover::before {
    opacity: 1;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.about-me__little-headline {
    color: var(--alternative-text-color);
    font-size: var(--font-size-2xl);
    font-family: 'karla', sans-serif;
    font-weight: 500;
    margin-top: var(--spacing-xl);
}

.about-me-description {
    border: 1px solid var(--alternative-text-color);
    border-radius: var(--radius-3xl);
    max-width: 540px;
    background-color: #3DCFB61A;
    font-family: 'karla', sans-serif;
    font-size: var(--font-size-lg);
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
}

.about-me__headline {
    font-size: 64px;
    font-weight: 700;
    color: var(--alternative-text-color);
    margin-top: 32px;
    margin-bottom: 32px;
}

.about-me__text {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-lg);
}