.project-info {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center; 
    align-items: center; 
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding-bottom: 0;
}

.project-info.active {
    opacity: 1;
    pointer-events: auto;
}

body.no-scroll {
    overflow: hidden;
}

.project-info-card {
    display: flex;
    position: relative;
    width: 1248px;
    height: 656px;
    border: 1px solid var(--alternative-text-color);
    border-radius: var(--radius-3xl);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    background: linear-gradient(38deg, var(--main-bg-color) 40%, var(--sub-bg-color) 100%);
    background-repeat: no-repeat;
}

.project-info-card-left-side {
    padding-top: 50px;
    padding-left: 80px;
    width: 480px;
    margin-right: 40px;
}

.project-card_header {
    padding-bottom: 24px;
}

.project-number {
    font-family: 'karla';
    font-size: 128px;
    font-weight: 700;
    color: var(--alternative-text-color);
}

.project-info-name {
    font-size: 64px;
    font-weight: 700;
}

.project-card-content{
    padding-bottom: 32px;
}

.project-info__headline {
    font-size: 24px;
    font-weight: 700;
    color: var(--alternative-text-color);
    padding-bottom: 20px;
}

.project-card-content-text {
    font-family: 'karla';
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.project-languages {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    font-size: 16px;
}

.language {
    font-family: 'karla';
    font-size: var(--font-size-base);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
}

.language img {
    width: 20px;
    height: 20px;
}

.project-info-button-container {
    display: flex;
    position: absolute;
    bottom: 30px;
}

.project__button {
    height: 48px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 100px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 32px;
}

.project__button img {
    transform-origin: top right;
    transition: transform 0.25s ease-in-out;
}

.project__button:hover img {
    transform: scale(1.25) translate(3px, -2px);
}

.project__button a {
    color: var(--text-color);
    padding-right: 4px;
}

.project-info-close {
    position: absolute;
    top: 56px;
    right: 80px;
    cursor: pointer;
    user-select: none;
}

.project-info-close:hover img {
    transform: translate(5px, -5px);
    content: url(/img/projects/close_hover.svg);
}

.project-info__picture {
    padding-top: 143px; 
}

.project-info__picture img {
    width: 520px;
    height: 370px;
    border-radius: 30px;
    object-fit: cover;
}

.next-project__button {
    position:absolute;
    top: 561px;
    left: 1022px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'karla';
    font-weight: 400;
    font-size: 18px;
    color: var(--alternative-text-color);
    cursor: pointer;
}

.next-project__button:hover {
    color: var(--text-color);
}

.next-project__button:hover img {
    transform: scale(1.2) translateX(6px);
}