.projects {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5xl);
    padding: var(--spacing-5xl);
    padding-left: 96px;
    padding-right: 360px;
}

.projects > div, 
.project-list {
    max-width: 880px;
    width: 100%;
}

.projects__little-headline {
    font-family: 'karla';
    color: var(--alternative-text-color);
    font-size: var(--font-size-2xl);
    font-weight: 700;
    margin: 0px;
    padding-bottom: 10px;
}

.projects__headline {
    font-size: 64px;
    color: var(--alternative-text-color);
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0px;
}

.projects__text {
    font-family: 'karla';
    font-size: var(--font-size-lg);
    font-weight: 400;
}

.project-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing-3xl);
}

.project {
    border-bottom: 1px solid var(--alternative-text-color);
    border-top: 1px solid var(--alternative-text-color);
    padding: var(--spacing-xl);
    max-width: 880px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-name {
    font-size: var(--font-size-2xl);
    color: var(--text-color);
    font-weight: 700;
}

.project img {
    display: none; 
    width: 23px;
    height: 23px;
    margin-left: var(--spacing-xs);
}

.project-image {
    display: none;
    position: absolute;
    right: -400px;
    top: 50%;
    transform: translateY(-50%);
    width: 295px;
    height: 192px;
    border-radius: var(--radius-xl);
    z-index: 20;
    pointer-events: none;
}

.project-container {
    position: relative;
    width: 100%;
    display: block;
}

.project-container:hover .project-image {
    display: block;
}

.project-container:hover::before {
    display: block;
    transform: translateY(-50%) translate(-15px, 15px); 
}

.project-container::before {
    content: '';
    display: none;
    position: absolute;
    width: 295px;
    height: 192px;
    border-radius: var(--radius-xl);
    background-image: linear-gradient(
        -45deg, 
        var(--alternative-text-color) 12.5%, 
        transparent 12.5%, 
        transparent 50%, 
        var(--alternative-text-color) 50%, 
        var(--alternative-text-color) 62.5%, 
        transparent 62.5%, 
        transparent 100%
    );
    background-size: 8px 8px;
    right: -430px;
    top: 50%;
    transform: translateY(-50%) translate(0, 0); 
    z-index: 15;
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}

.project-skills {
    display: flex;
    gap: var(--spacing-sm);
}

.project:hover {
    background-color: #3DCFB610;
    cursor: pointer;
}

.project:hover img {
    display: inline; 
}

.project__button:hover {
    border-color: var(--alternative-text-color);
    color: var(--alternative-text-color);
}

.green__span {
    color: var(--alternative-text-color);
}