.footer {
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--spacing-6xl);
    padding-left: var(--spacing-5xl);
    padding-right: var(--spacing-5xl);
    padding-bottom: var(--spacing-5xl);
}

.footer-me {
    display: flex;
    flex-direction: column;
}

.footer-left-side {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.footer-copyright {
    color: var(--alternative-text-color);
    font-size: var(--font-size-lg);
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--font-size-base);
    transition: all 0.3s ease;
    padding-left: 14px;
    text-decoration: none;
    position: relative;
}

.footer a:hover {
    color: var(--alternative-text-color);
}

.footer-link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    width: 6px;
    height: 6px;
    background-color: #3DCFB6;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer-link:hover::after {
    transform: translateY(-50%) scale(1);
}

.footer-mobile {
    display: none;
    text-align: center;
    padding: var(--spacing-lg);
    color: var(--alternative-text-color);
    font-size: var(--font-size-lg);
}

.footer .footer-logo-link {
    text-decoration: none;
    padding: 0;
}