@font-face {
    font-family: 'fira';
    src: url(/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'karla';
    src: url(/fonts/Karla/Karla-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'fira', 'karla', sans-serif;
    font-weight: 400;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.logo-link {
    text-decoration: none;
    color: var(--text-color);
}

.d-none {
    display: none !important;
}

.lets-talk__button:hover,
.introduction__button:hover,
.submit__button:hover {
    border-color: var(--alternative-text-color);
    color: var(--alternative-text-color);
}

.lets-talk__button:hover span,
.introduction__button:hover span, 
.submit__button:hover span {
    animation: scrollButton 2s linear infinite;
}

@keyframes scrollButton {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    47% {
        transform: translateX(-150%);
        opacity: 1;
    }
    48% {
        transform: translateX(-150%);
        opacity: 0;
    }
    49% {
        transform: translateX(150%);
        opacity: 0;
    }
    50% {
        transform: translateX(150%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}